<div class="moxieleague-footer">
  <div class="row">
  <div class="col-sm-6">
    <div class="moxieleague-subscribe-footer-inner">
      <div class="moxieleague-subscribe-footer-contents">
        <form>
          <input type="email" class="footer-subscribe-form-control" id="footer-subscribe-form-control" aria-describedby="emailHelp" placeholder="Email">
          <button type="submit" class="subscribe-footer-btn" id="footer-subscribe-btn">JOIN OUR NEWSLETTER</button>
        </form>
      </div>
        
    </div>
  </div>

  <div class="col-sm-6">
    <div class="social-and-conditions-footer">
      <div class="social-and-conditions-inner">
      <div class="footer-social-media-icons">
        <img class="social-media-icon-footer" src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/iconmonstr-instagram-white.svg" />
        <img class="social-media-icon-footer" src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/iconmonstr-instagram-white.svg" />
        <img class="social-media-icon-footer" src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/iconmonstr-instagram-white.svg" />
        <img class="social-media-icon-footer" src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/iconmonstr-instagram-white.svg" />
      </div>
      <h3 class="footer-info">Contact Us</h3>
      <h3 class="footer-info">Terms</h3>
      <h3 class="footer-info">Privacy Policy</h3>
</div>
    </div>
  </div>
  </div>

</div>
