<nav class="post-site-nav">
  <div class="ml-nav-bar">

    <div class="social-media-icons">
        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/iconmonstr-instagram-color.svg" class="site-header-social-media-icon" />

        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/social-icon-pinterest-color.svg" class="site-header-social-media-icon"/>

        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/social-icon-facebook-color.svg" class="site-header-social-media-icon"/>

        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/social-icon-twitter-color.svg" class="site-header-social-media-icon"/>
    </div><!-- social-media-icons -->

    <h1 class="site-title">inkvest</h1>
    <div class="social-media-and-subscribe">

      <a class="nav-subscribe-btn" id="post-site-nav-subscribe" href="#">SUBSCRIBE</a>
    </div><!-- social-media-and-subscribe -->
  </div><!-- ml-nav-bar -->
</nav>
