<nav class="post-site-nav">
  <div class="ml-nav-bar">
    <img style="max-height:2.75em;" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/site-header-icon.svg" />

    <div class="social-media-and-subscribe">
      <div class="social-media-icons">
        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/iconmonstr-instagram-color.svg" class="site-header-social-media-icon" />

        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/social-icon-pinterest-color.svg" class="site-header-social-media-icon"/>

        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/social-icon-facebook-color.svg" class="site-header-social-media-icon"/>

        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/social-media-icons/social-icon-twitter-color.svg" class="site-header-social-media-icon"/>
      </div><!-- social-media-icons -->

      <div class="navbar-subscribe">
        <a class="nav-subscribe-btn" href="#">SUBSCRIBE</a>
      </div>
    </div><!-- social-media-and-subscribe -->
  </div><!-- ml-nav-bar -->
</nav>
