{{!-- Email Sign up prompt --}}
<section class="subscribe-call-to-action">
  <div class="subscribe-content-container-outer">
    <div class="subscribe-content-container-inner">
      <h3 class="footer-subscribe-form-title text-center">Tips + Strategies to Boost Your Sales</h3>
      <p class="footer-subscribe-form-p text-center">We share the best growth tactics and strategies to grow your online e-commerce business every week</h5>

      <form class="post-subscribe-form">
        <div class="cta-input-submit-row">
          <input class="post-subscribe-input" type="email" placeholder="Your Email Here ;)" id="cta-post-subscriber-email-input" required>
          <button class="cta-post-subscribe-btn" type="index-footer-subscribe-submit" id="cta-post-subscriber-email-btn">COUNT ME IN</button>
        </div><!-- row -->
      </form>
      <div class="row justify-content-center">
        <p class="cta-terms-qualifier">By subscribing, you agree to receive email updates from us, and accept our <a href="https://moxieleague.com/terms.html">Terms</a> and <a href="https://moxieleague.com/privacy.html">Privacy</a></p>
      </div><!-- row -->
    </div>
  </div>
</section>
