{{!-- Email Sign up prompt --}}
<section class="subscribe-call-to-action">
  <div class="subscribe-content-container-outer">
    <div class="subscribe-content-container-inner">
      <div class="row justify-content-center">
        <img style="width: auto; max-height: 2.25vw; padding-bottom: 2.5%;" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/social-media-icons/envelope-letter-message-email-mail-3923a7717bd9f936.svg" />
      </div><!-- row -->
      <div class="row justify-content-center">
        <h3 class="footer-subscribe-form-title">SUBSCRIBE</h3>
      </div>
      <div class="row">
        <p class="footer-subscribe-form-p text-center">A newsletter about starting and building your business, delivered straight to your inbox every Wednesday AM</h5>
      </div>

      <form class="post-subscribe-form">
        <div class="row justify-content-center">
          <input class="post-subscribe-input" type="email" placeholder="Email" id="post-subscriber-email-input" required>
          <button class="btn" type="index-footer-subscribe-submit">JOIN</button>
        </div><!-- row -->
      </form>
      <div class="row justify-content-center">
        <p>Terms & Privacy</p>
      </div><!-- row -->
    </div>
  </div>
</section>
