{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header outer">
        {{> "post-site-nav"}}
</header>







<div class="feature-post-container-bg-color container-fluid">
  <div class="feature-post-container-white">
    <div class="row no-gutter">
      <div class="col-sm-4 d-flex flex-column justify-content-center">
        <h1 class="align-self-center">Test Title</h1>
      </div>
      <div class="col-sm-8">
        <img class="feature-post-img" src='https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/EClass_Photoshop_Designing_Textures_012.jpg' />
      </div>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="decorative-row-first row">
      {{#get "posts" limit="3" page="1" as |posts|}}
        {{#foreach posts}}
          <div class="col-sm-4">
            {{> "moxieleague-post-card"}}
          </div>
        {{/foreach}}
      {{/get}}
  </div>


<div class="no-padding-lr-container">
  <div class="second-featurette">
    {{#get "posts" limit="1" page="7" as |posts|}}
      {{#foreach posts}}
        <div class="featurette-content-row row">
          <div class="col-sm-6">
            <h1>Test blah glah</h1>            
          </div>
          <div class="col-sm-6 justify-content-end" style="padding-left: 0; padding-right: 0;">
            <img src= "https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/EClass_Photoshop_Designing_Textures_012.jpg" />
          </div>
        </div><!-- row -->
      {{/foreach}}
    {{/get}}
  </div><!-- two-piece-feature -->
</div>

<div class="container-fluid">
  <div class="decorative-row-first row">
      {{#get "posts" limit="3" page="2" as |posts|}}
        {{#foreach posts}}
          <div class="col-sm-4">
            {{> "moxieleague-post-card"}}
          </div>
        {{/foreach}}
      {{/get}}
  </div>
</div><!-- container outer -->


{{!-- Email Sign up prompt --}}
<section class="subscribe-call-to-action">
  <div class="subscribe-content-container-outer">
    <div class="subscribe-content-container-inner">
      <div class="row justify-content-center">
        <img style="width: auto; max-height: 2.25vw; padding-bottom: 2.5%;" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/social-media-icons/envelope-letter-message-email-mail-3923a7717bd9f936.svg" />
      </div><!-- row -->
      <div class="row justify-content-center">
        <h3 class="footer-subscribe-form-title">SUBSCRIBE</h3>
      </div>
      <div class="row">
        <p class="footer-subscribe-form-p text-center">A newsletter about starting and building your business, delivered straight to your inbox every Wednesday AM</h5>
      </div>

      <form class="post-subscribe-form">
        <div class="row justify-content-center">
          <input class="post-subscribe-input" type="email" placeholder="Email" id="post-subscriber-email-input" required>
          <button class="btn" type="index-footer-subscribe-submit">JOIN</button>
        </div><!-- row -->
      </form>
      <div class="row justify-content-center">
        <p>Terms & Privacy</p>
      </div><!-- row -->
    </div>
  </div>
</section>


