{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="ml-site-header">
        {{> "post-site-nav"}}
</header>




<div class="main-feature-post1">
  <div class="main-feature1-content">
    <div class="row">

      <div class="col-lg-7 col-sm-6 d-flex justify-content-start align-middle" style="padding-left: 0; padding-right: 0;">
        <img src="https://moxieleague.nyc3.digitaloceanspaces.com/featured-20.jpg" class="main-feature1" />
      </div>


      <div class="col-lg-5 col-sm-6" style="padding-left: 0; padding-right:0;">
        <div class="main-feature1-text-container">
          <p class="post-card-tags">FEATURE</p>
          <h1 class="main-feature1">Twelve Ways to Jumpstart Your Business Today</h1>
          <p class="main-feature1">This is supposed to be a longish excerpt about something or other. This is supposed to be a longish excerpt about something or other. This is supposed to be a longish excerpt about something or</p>
          <a class="readmore-btn" href="#">READ MORE</a>
        </div><!-- main-feature1-text-container -->
      </div>

    </div><!-- row -->
  </div>
</div>






<div class="container-fluid">
  <div class="decorative-row-first row">
      {{#get "posts" include="tags" limit="3" page="1" as |posts|}}
        {{#foreach posts}}
          <div class="col-sm-4" style="padding-left: .75%; padding-right: .75%">
            {{> "moxieleague-post-card"}}
          </div>
        {{/foreach}}
      {{/get}}
  </div>
</div>

<div class="main-feature-post2">
  <div class="main-feature-border">
    <div class="main-content-border-outer">
      <div class="main-feature-content-container">
        <img class="main-feature-icon" style="margin-left: auto; margin-right: auto; display: block;" src="https://moxieleague.nyc3.digitaloceanspaces.com/site-icons/school.svg" />
        <p class="featurette-tag text-center highlighted-underscore">INTERVIEW</p>
        <h1 class="main-feature text-center">Why you are doing SEO all wrong</h1>
        <p class="main-feature">They lived near a gorgeous beach in sunny San Diego. They frequently dined at sushi restaurants. They drove a BMW.</p>
        <div class="mycontainer" style="margin-bottom: 2.5%; text-align:center;">
          <a class="readmore-btn" href="#">READ MORE</a>
        </div>
      </div><!-- main-feature-content-container -->
    </div><!-- main-content-border-outer -->
  </div><!-- main-feature-content-container -->
</div><!-- main-feature-post2 -->



<div class="container-fluid">
  <div class="decorative-row-first row">
      {{#get "posts" limit="3" include="tags" page="2" as |posts|}}
        {{#foreach posts}}
          <div class="col-sm-4" style="padding-left: .75%; padding-right: .75%">
            {{> "moxieleague-post-card"}}
          </div>
        {{/foreach}}
      {{/get}}
  </div>
</div><!-- container outer -->


{{!-- Email Sign up prompt --}}
<section class="subscribe-call-to-action">
  <div class="subscribe-content-container-outer">
    <div class="subscribe-content-container-inner">
      <div class="row justify-content-center">
        <img style="width: auto; max-height: 2.25vw; padding-bottom: 2.5%;" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/social-media-icons/envelope-letter-message-email-mail-3923a7717bd9f936.svg" />
      </div><!-- row -->
      <div class="row justify-content-center">
        <h3 class="footer-subscribe-form-title">SUBSCRIBE</h3>
      </div>
      <div class="row">
        <p class="footer-subscribe-form-p text-center">A newsletter about starting and building your business, delivered straight to your inbox every Wednesday AM</h5>
      </div>

      <form class="post-subscribe-form">
        <div class="row justify-content-center">
          <input class="post-subscribe-input" type="email" placeholder="Email" id="post-subscriber-email-input" required>
          <button class="btn" type="index-footer-subscribe-submit">JOIN</button>
        </div><!-- row -->
      </form>
      <div class="row justify-content-center">
        <p>Terms & Privacy</p>
      </div><!-- row -->
    </div>
  </div>
</section>
