{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header outer">
        {{> "post-site-nav"}}
</header>







<div class="feature-post-container-bg-color container-fluid">
  <div class="feature-post-container-white">
    <div class="row-fluid">
      <div class="col-sm-4 d-flex flex-column justify-content-center">
        <h1 class="align-self-center">Test Title</h1>
      </div>
      <div class="col-sm-8">
        <img class="feature-post-img" src='https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/EClass_Photoshop_Designing_Textures_012.jpg' />
      </div>
    </div>
  </div>
</div>




<div class="container-fluid">
  <div class="decorative-row-first row">
      {{#get "posts" limit="3" page="1" as |posts|}}
        {{#foreach posts}}
          <div class="col-sm-4">
            {{> "moxieleague-post-card"}}
          </div>
        {{/foreach}}
      {{/get}}
  </div>






</div><!-- container outer -->
