* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/* 7.1. Subscribe Form
/* ---------------------------------------------------------- */

.subscribe-form {
    text-align: center;
	background: none;
	margin: 0;
	border: none;
}

h3.subscribe-form-title {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 700;
	font-family: "Brandon Regular";
}

p.subscribe-form-p {
    margin-bottom: 1em;
    font-size: 2.2rem;
    line-height: 1.35em;
    letter-spacing: 0.2px;
	font-family: "Avenir";
	font-weight: 600;
}

.subscribe-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 420px;
}

.subscribe-form .form-group {
    flex-grow: 1;
}

.subscribe-email {
    display: block;
    padding: 10px;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1em;
    font-weight: normal;
    user-select: text;
    border-radius: 5px;
    transition: border-color 0.15s linear;

    -webkit-appearance: none;
}

.subscribe-email:focus {
    outline: 0;
}

.subscribe-form button {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 20px;
    height: 41px;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 37px;
    font-weight: 400;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    box-shadow: 0 0 0 1px inset rgba(0,0,0,0.14);

    -webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-form button:active,
.subscribe-form button:focus {
}

@media (max-width: 650px) {
    .subscribe-form-title {
        font-size: 2.4rem;
    }
    .subscribe-form p {
        font-size: 1.6rem;
    }
}

@media (max-width: 500px) {
    .subscribe-form form {
        flex-direction: column;
    }
    .subscribe-form .form-group {
        width: 100%;
    }
    .subscribe-form button {
        margin: 10px 0 0 0;
        width: 100%;
    }
}






.moxieleague-site-footer-content {
	padding-top: 3.5%;
	padding-bottom: 2.15%;
}

h4.social-media-header {
	font-family: "Brandon Light";
	font-size: 1.75rem;
}

img.social-media-icon {
	max-width: 40%;
}


.social-media-container {
	max-width: 45%;
	float: none;
    margin: 0 auto;
}

.post-card {
    margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	margin-right: 0rem;
	box-shadow: none;
	border-radius: 0;
}










/* 3. Post Feed
/* ---------------------------------------------------------- */
.moxieleague-post-feed {
	margin-top: 0rem;
}

.decorative-row-first {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 2.5%;
	padding-left: 2.5%;
}



/* 3. Subscribe Form Footer (index)
/* ---------------------------------------------------------- */
.subscribe-form-title {
	font-family: "Futura Regular";
	font-size: 16;
}

.subscribe-call-to-action {
	padding: 0%;
	padding-bottom: 2.5%;
	padding-left: 0;
	padding-right: 0;
}

.subscribe-content-container-outer {
    background-color: #fcf3ec;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	margin-left: 10%;
	margin-right: 10%;
}

.subscribe-content-container-inner {
	padding-top: 7.5%;
	padding-bottom: 10.5%;
	padding-left: 17.5%;
	padding-right: 17.5%;
	border-color: #FF4C3E;
	border-style: solid;
	border-width: .15rem;
}

.footer-subscribe-form-p {
	font-family: "Avenir";
	font-size: 14px;
}

h3.footer-subscribe-form-title {
	padding-bottom: 2.75%;
	font-family: "Brandon Regular";
	font-size: 2.25rem;
	font-weight: 500;
}

.index-footer-subscribe-submit {

}

.post-subscribe-input {
	width: 12.5vw;
	margin-right: 3%;
}

.post-subscribe-input::placeholder {
	margin-left: 1vw;
}


/* 3. Two Piece Featurette
/* ---------------------------------------------------------- */
.second-featurette {
	padding-left: 15.75%;
	padding-right: 15.75%;
	padding-top: 3.5%;
	padding-bottom: 3.5%;
}

.second-featurette-img {
	width: 50vw;
	height: auto;
}

.featurette-title-container {
	background-color: white;
}

.featurette-content-row {
	border-color: #FF4C3E;
	border-style: solid;
	border-width: .15vw;
	padding: .5vw;
}


.featurette-title {
	font-family: "adobe-caslon-pro";
	font-size: 36px;
	font-weight: 500;
}

.no-padding-lr-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

p.featurette-tag {
	font-family: "futura-pt";
	font-size: 135%;
	font-weight: 600;
	margin-bottom: 0;
}


.featurette-tag-icon {
	height: 1.5vw;
	width: auto;
	margin-top: .05vw;
}

.highlighted-underscore {
	background-image: linear-gradient(180deg, #FFFF11, #FFFF11);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 30% 1.15vw;
}

.featurette-excerpt {
	padding-left: 7.5%;
	padding-right: 7.5%;
}

p.featurette-excerpt {
	color: #333333;
	font-family: "Avenir";
	font-size: 16px;
}

.readmore-btn {
	display: inline-block;
	text-align: center;
	white-space: initial;
	vertical-align: middle;
	border-style: solid;
	background-color: #FF4C3E;
	color: white;
	font-size: 14px;
	font-weight: 600;
	font-family: "futura-pt";
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.readmore-outside {
	background-color: #FF4C3E;
	padding-top: .5vw;
	padding-bottom:.5vw;
	padding-left: .5vw;
	padding-right: .5vw;
}

.readmore-inside {
	padding: .5%;
	border-color: white;
	border-style: solid;
	border-width: 3px;
}


h1.readmore {
	color: white;
	font-family: "Avenir";
	font-size: 14px;
	font-weight: 600;
	padding: 2.5%;
}

.featurette-title-and-body {
	padding-top: 5.75%;
	padding-bottom: 5.75%;
}


/* Main Feature Post
/* ---------------------------------------------------------- */
/* TODO make this height responsive
/* ---------------------------------------------------------- */
.main-feature-post2 {
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-top: 1.5%;
	background-image: url("https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/EClass_Photoshop_Designing_Textures_012.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 50em;
	display: flex;
}

.main-feature-border {
	border-color: white;
	border-style: solid;
	border-width: .15vw;
	margin: 1%;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.main-content-border-outer {
    background-color: white;
	margin-left: 5%;
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ---------------------------------------------------------- */
/* TODO make responsive
/* ---------------------------------------------------------- */
.main-feature-content-container {
	background-color: white;
	padding-left: 5.75%;
	padding-right: 5.75%;
	border-color: #FF4C3E;
	border-style: solid;
	border-width: .15vw;
	margin: 1%;
}


h1.main-feature {
	font-family: "adobe-caslon-pro";
	font-size: 34px;
	font-weight: 650;
	margin-top: 7%;
}

p.main-feature {
	font-family: "Avenir";
	font-size: 16px;
	font-weight: 500;
	color: #9b9b9b;
	margin-top: 5%;
	margin-bottom: 15%;
}

.main-feature-words-box-inner {
	margin-left: 1.75%;
	margin-right: 1.75%;
	margin-top: 1.75%;
	margin-bottom: 1.75%;
	border-style: solid;
	border-color: #FF4C3E;
	border-width: .15vw;
	padding-left: 12.75%;
	padding-right: 12.75%;
}

.main-feature-icon {
	max-width: auto;
	height: 2.75vw;
}


/* Site Header
/* ---------------------------------------------------------- */
/* TODO make this height responsive
/* ---------------------------------------------------------- */
.ml-site-header {
	padding-top: 0;
	padding-bottom: 0;
}


.site-header-social-media-icon {
	width: 2.25em;
	height: 100%;
	margin-left: 15%;
}

.social-media-icons {
	display: flex;
	justify-content: space-between;
	padding-right: 3.75vw;
	align-items: baseline;
}

.nav-subscribe-btn {
	text-align: center;
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
	color: #333333;
	font-size: 15px;
	font-weight: 500;
	font-family: "futura-pt";
	padding-left: 5.5%;
	padding-right: 5.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.ml-nav-bar {
	display: flex;
	justify-content: space-between;
	padding-top: .5%;
	padding-bottom: .5%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.navbar-subscribe {
	display: flex;
	justify-content: end;
}

.social-media-and-subscribe {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}


/* Post Card =
/* ---------------------------------------------------------- */
.post-card-content {
	background-color: #f5f5f5;
	height: 175px;
}

.post-card-content-link {
	padding-top: 5%;
	padding-left: 12.5%;
	padding-right: 12.5%;
	padding-bottom: 0%;
}

.post-card-tags {
	font-family: "futura-pt";
	font-size: 14px;
	color: #FF4C3E;
}

h2.ml-post-card-title {
    margin-top: 7.5%;
	font-family: "adobe-caslon-pro";
	font-size: 24px;
	font-weight: 400;
	color: #1a1c4c;
}

.moxieleague-post-card-image {
    width: auto;
    height: 25vw;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
	.moxieleague-post-card-image {
        width: auto;
        height: 57.5vw;
        background-size: cover;
	}
}

.moxieleague-post-card {
	margin-bottom: 5%;
}



/* ---------------------------------------------------------- */
/* Moxie League Footer
/* ---------------------------------------------------------- */
.moxieleague-footer {
	background-color: #eaefef;
}


.moxieleague-subscribe-footer-inner {
	display: flex;
	justify-content: center;
	align-content: center;
}

.moxieleague-subscribe-footer-contents {
	border-color: #f9fbfb;
	border-width: .575vw;
	border-style: solid;
	margin-top: 3.5%;
	margin-bottom: 3.5%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 12.5%;
	padding-right: 12.5%;
}

.copyright-footer {
	background-color: yellow;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: .25%;
	padding-bottom: .25%;
}

p.copyright-footer {
	font-family: "Avenir";
	font-size: 14px;
	margin-bottom: 0;
}

.subscribe-footer-btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #d7e0e0;
	color: #4a4a4a;
	font-size: 17px;
	font-weight: 500;
	font-family: "futura-pt";
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	margin-top: 5%;
}

h1.subscribe-footer {
	font-family: "futura-pt";
	font-size: 16px;
	font-weight: 400;
	font-color: #4a4a4a;
	letter-spacing: .05vw;
}

.social-media-icon-footer {
	width: 2.5vw;
	margin-right: 15%;
	height: 100%;
}

.social-and-conditions-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.social-and-conditions-inner {
}

.footer-social-media-icons {
	margin-bottom: 25%;
	display: flex;
	flex-wrap: nowrap;
}

h3.footer-info {
	font-family: "futura-pt";
	font-size: 18px;
	font-weight: 400;
	font-color: #4a4a4a;
}

/* ---------------------------------------------------------- */
/* Moxie League Main Post 1
/* ---------------------------------------------------------- */
.main-feature-post1 {
	padding-right: 5%;
	padding-left: 5%;
	background-color: #f2f6f9;
}

@media only screen and (min-width: 768px) and (max-width: 1070px) {
	.main-feature-post1 {
		padding-right: .1%;
		padding-left: .1%;
	}
}

@media only screen and (max-width: 600px) {
	.main-feature-post1 {
		padding-right: .1%;
		padding-left: .1%;
		padding-top: 1.5%;
	}
}



.main-feature1-content {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 7.5%;
	margin-right: 7.5%;
}

@media screen-only and (max-width: 575px) {
    .main-feature1-content {
	    margin-top: 2.5%;
	    margin-bottom: 0%;
		margin-left: 0%;
		margin-right: 0%;
    }
}


h1.main-feature1 {
	font-family: "adobe-caslon-pro";
	font-size: 4em;
	margin-top: 7.5%;
}

.main-feature1-text-container {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 10%;
	padding-left: 10%;
	background-color: white;
}

p.main-feature1 {
	font-family: "Avenir";
	color: #333333;
	font-size: 1.65rem;
	margin-bottom: 17.5%;
}

img.main-feature1 {
}



