.site-header {
	border-bottom-color: #FF4C3E;
	border-bottom-style: solid;
	border-bottom-width: .35rem;
	padding-top: .35%;
	padding-bottom: .35%;
	margin-bottom: 3.5%;
	background: none;
}

@media only screen and (max-width: 600px) {
    .site-header {
	    background-color: #feede8;
	    margin-bottom: 7.5%;
    }
}

.site-header:before {
	background: none;
}

.site-header:after {
	background: none;
}

.post-hero-image {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
	height: 400px;
	width: auto;
}

@media only screen and (max-width: 600px) {
	.ml-post-content {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.ml-post-content p {
	font-size: 1.75rem;
	font-family: 'faktpro', san-serif;
	line-height: 2.75rem;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

.ml-post-content h2 {
	font-size: 3rem;
	font-family: 'Avenir', san-serif;
	font-weight: 500;
}

.ml-post-content h3 {
	font-size: 2.75rem;
	font-family: 'Avenir', san-serif;
	font-weight: 500;
}

.ml-post-content h4 {
	font-size: 2.5rem;
	font-family: 'Avenir', san-serif;
	font-weight: 500;
}

.ml-post-content h5 {
	font-size: 2rem;
	font-family: 'Avenir', san-serif;
	font-weight: 500;
}

.ml-post-content h6 {
	font-size: 1.5rem;
	font-family: 'Avenir', san-serif;
	font-weight: 500;
}

h1.ml-post-full-title {
	font-family: garamond;
	color: #333333;
	font-size: 4rem;
	font-weight: 500;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 0%;
}

.more-posts-container {
	margin-left: 7.5%;
	margin-right: 7.5%;
	max-width: 1360px;
}

h1.more-posts {
	font-size: 3.5rem;
	font-family: "";
	text-align: center;
}

. ml-post-full-header {
	padding-bottom: 1.5vw;
	padding-top: 1.5vw;
}

h1.more-posts-post {
	text-align: center;
	font-size: 1.85vw;
}

p.cta-terms-qualifier {
	font-size: 11.75px;
	font-color: darkgray;
}


/* 7.1. Styles to be used in the Ghost editor
/* ---------------------------------------------------------- */
.kg-post img {
	display: block;
	margin: 0 auto;
}

.blockquote {
	max-width: 65%;
}

.kg-post p {
	font-family: "avenir";
	font-size: 25px;
	color: #333333;
	margin-bottom: 1.5em;
	font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .kg-post p {
	    font-size: 18px;
		font-weight: 400;
	}
}

.kg-post h2 {
	font-family: "faktpro";
	font-size: 46px;
	color: blue;
	font-weight: 600;
	margin-bottom: 1.5rem;
}

.tip-box {
    background-color: lightyellow;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
    width: 65%;
	padding: 5%;
}

div#id_div > p:first-of-type {
    background: #ff0000;
}

.points-frame {
	max-width: 55%;
	margin: auto;
	border-style: solid;
	border-color: lightgray;
	border-width: .125rem;
	padding-right: 2.5%;
	padding-left: 2.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.points-frame p {
	font-family: "Avenir";
}

.sources {
	background-color: #f2f6f9;
}

ul.table-of-contents {
    background-color:  #f2f6f9;
    border-radius: 3px 3px 3px 3px;
    list-style: none;
    padding: 10px 10px 10px 25px;
}

ul.inner {
    background-color:  #f2f6f9;
    list-style: none;
    padding-left: 15px;
}

li.inner {
	margin: 0;
	font-size: 15px;
}

.ingredient-box {
	margin-right: 15%;
	margin-left: 15%;
	margin-top: 7.5%;
	margin-bottom: 7.5%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: lightyellow;
	padding-right: 5%;
	padding-left: 5%;
}

h2.article {
	font-size: 26px;
	padding-top: 2.5%;
}

h3.article {
	font-size: 22px;
	padding-top: 2.5%;
}

h2.article::after {
	display: block;
	width: 30%;
	height: 17.5px;
	margin-top: -10px;
	background: #ffded9;
	content: '';
}

@media only screen and (max-width: 600px) {
h2.article::after {
	display: block;
	width: 60%;
	height: 17.5px;
	margin-top: -10px;
	background: #ffded9;
	content: '';
}
}

img.main {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
}

.article-footer{
	padding: 10px 20px 10px;
	border-top: 1px solid #eee;
	color: #888;
	font-size: 12px;
}

h4.references-title {
	font-size: 16px;
	color: #777;
	margin: 0;
	padding: 20px;
	background-color: #f7f7f7;
}

#section-citations {
	padding-left: 15%;
	padding-right: 15%;
}

#section-references {
	background: #fbfbfb;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 35px;
	border-color: #f1f1f1;
	display: block;
	overflow: hidden;
	height: 100%;
}

#section-references-outer .btn.collapsed {
	margin-top: -50px;
	padding-top: 28px;
	padding-bottom: 8px;
	display: block;
}

#section-citations .btn-gradient.collapsed span:before, #section-citations .btn-gradient.collapsed span:after {

}

#section-citations .btn-gradient {
	background: linear-gradient(0deg,#f7f7f7 50%,rgba(255,255,255,0) 100%);
	background-image: linear-gradient(0deg, rgb(247, 247, 247) 50%, rgba(255, 255, 255, 0) 100%);
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	color: #337ab7;
	position: relative;
	z-index: 3;
	border: none;
	width: 100%;
}

span.references {
	font-size: 16px;
}

li.section-reference {
	font-size: 14px;
}

.procon-box {
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.procon-box h4 {
	font-size: 1.75rem;
}

.procon-box h5 {
	font-size: 1.5rem;
}

.ml-post-content .procon-box ul p {
	font-size: 1.55rem;
	line-height: 2rem;
}

.procon-box ul p {
	font-size: 1.55rem;
}

.light-blue {
	background-color: #F3FAFC;
}

.light-orange {
	background-color: #FFFDFB;
}

@font-face {
	font-family: "faktpro";
	src: url("../font/Fakt WEB/EOT/Fonts/FaktPro-Normal.eot");
	src: url("../font/Fakt WEB/WOFF/Fonts/FaktPro-Normal.woff") format("woff");
}




.red-bottom {
	border-bottom: 2px solid red;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
