.site-header {
	background: none;
	border-bottom-color: lightgray;
	border-bottom-style: solid;
	border-bottom-width: .15rem;
	padding-top: .25%;
	padding-bottom: .25%;
}

.site-header:before {
	background: none;
}

.site-header:after {
	background: none;
}

.post-hero-image {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
	height: 400px;
	width: auto;
}

.ml-post-content {
	font-family: "proxima-soft";
	font-size: 18.75px;
	color: #333333;
}

h1.ml-post-full-title {
	font-family: "mrs-eaves-xl-serif";
	color: #333333;
	font-size: 4.25rem;
	font-weight: 600;
	text-align: center;
}

.more-posts-container {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2.5%;
}

h1.more-posts {
	font-size: 1.5rem;
	font-family: "";
}

img.more-post {

}

.ml-post-full-header {
	padding-bottom: 1.5vw;
	padding-top: 1.5vw;
}

h1.more-posts-post {
	text-align: center;
	font-size: 1.15vw;
}

p.cta-terms-qualifier {
	font-size: 11.75px;
	font-color: darkgray;
}

.footer-subscribe-form-control {

}
